* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.page {
  width: min(90%, 1200px);
  margin: 0 auto;
}

#container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* z-index: -1; */
}
